@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

$red: #f54254;
$white: #fff;
$gray-background: #f3f3f3;
$gray-border: #d6d8e6;
$gray-icon: #a4a6af;
$green-button: #15C39A;

a{
  text-decoration: none;
}